<!-- Start Esdeveniments -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="elements--title">
          <h2>{{ section.titol_seccio }}</h2>
        </div>
      </div>
      {% for event in site.c-events reversed limit:4 %}
      {% capture organizers %}Organitzadors: {{ event.organitzadors }}{% endcapture %}
      {% include pillar/card-2-horizontal.html
                 link=event.url
                 image=event.cover_imatge
                 image_alt=event.descripcio_imatge
                 title=event.titol_esdeveniment
                 date=event.date
                 meta1=event.lloc
                 meta2=organizers %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Esdeveniments -->
