<!-- [[! Theme Styles ]] -->
<link href="{{ site.baseurl }}/{{ site.styles_path }}/css/socicon.css" rel="stylesheet" type="text/css" media="all">
<link href="{{ site.baseurl }}/{{ site.styles_path }}/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{ site.baseurl }}/{{ site.styles_path }}/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ site.baseurl }}/{{ site.styles_path }}/css/interface-icons.css" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ site.baseurl }}/{{ site.styles_path }}/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ site.baseurl }}/{{ site.styles_path }}/css/theme-green.css" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ site.baseurl }}/{{ site.styles_path }}/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CSource+Sans+Pro:400,600,400italic" rel="stylesheet" type="text/css">
<link href="{{ site.baseurl }}/{{ site.styles_path }}/css/font-poppinssourcesanspro.css" rel="stylesheet" type="text/css">

<!-- Your styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/{{ site.styles_path }}/main.css?{{ site.time | date: '%s%N' }}">

<style>
</style>
