<div class="nav-container">
  <nav>
    <div class="nav-bar nav--absolute nav--transparent" data-fixed-at="300">
      <div class="nav-module logo-module left">
        <a href="{{ site.baseurl }}{% link home.md %}">
          <img alt="logo" class="logo logo-dark" src="{{ site.logo | relative_url }}">
          <img alt="logo" class="logo logo-light" src="{{ site.logo | relative_url }}">
        </a>
      </div>
      <div class="nav-module menu-module left">
        <ul class="menu">
          <li><a href="{{ site.baseurl }}{% link home.md %}">inici</a></li>
          <li class="vpf"><a href="{{ site.baseurl }}{% link about.md %}" target="_self">sobre nosaltres</a></li>
          <li><a href="{{ site.baseurl }}{% link blog.md %}" target="_self">blog</a></li>
          <li class="vpf">
            <a  target="_self">projectes</a>
            <ul class="make-right">
              {% for project in site.pages %}
              {% if project.tipus == "projecte" %}
              <li><a href="{{ project.url | relative_url }}">{{ project.title }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          <li class="vpf"><a href="{{ site.baseurl }}{% link contacte.md %}" target="_self">contacte</a></li>
          <li class="active">
            <a >Serveis</a>
            <ul class="multi-column">
              <li>
                <ul>
                  <li><span class="multi-column__title">Educació</span></li>
                  <li><a href="#">Escola ecològica</a></li>
                  <li><a href="#">Alfabetització digital</a></li>
                </ul>
              </li>
              <li>
                <ul>
                  <li><span class="multi-column__title">Salut</span></li>
                  <li><a href="#">Un plat al dia</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-mobile-toggle visible-sm visible-xs">
    		            <i class="icon-Align-JustifyAll icon icon--sm"></i>
    		        </div>
  </nav>
</div>
