{% comment %} Vertical Card {% endcomment %}
<article class="col-md-4 col-sm-6">
  <div class="card card-1">
    <a href="{{ include.link | relative_url }}">
      <div class="card__image">
        <img alt="{{ include.image_alt }}" src="{{ include.image | relative_url }}">
      </div>
      <div class="card__body boxed bg--white">
        <header class="card__title">
          <h5>{{ include.title }}</h5>
        </header>
        <span>
          <em><time datetime="{{ include.date | date:'%d-%m-%Y' }}">{{ include.date | date:'%d %b %Y' }}</time></em>
        </span>
        <p>{{ include.content | strip_html | truncatewords: 35 }}</p>
      </div>
    </a>
  </div>
</article>
