{% comment %} Horizontal Card {% endcomment %}
<article class="col-md-6 col-sm-12">
  <div class="card card--horizontal card-2">
    <a href="{{ include.link | relative_url }}">
      <div class="card__image col-sm-5">
        <div class="background-image-holder">
          <img alt="{{ include.image_alt }}" src="{{ include.image | relative_url }}">
        </div>
      </div>
      <div class="card__body col-sm-7 boxed bg--white">
        <header class="card__title">
          <h4>{{ include.title }}</h4>
          <h5><em><time datetime="{{ include.date | date:'%d-%m-%Y' }}">{{ include.date | date:'%d %b %Y' }}</time> | {{ include.meta1 }}</em></h5>
          <h6>{{ include.meta2 }}</h6>
        </header>
      </div>
    </a>
  </div>
</article>
