<!-- Contact info section -->
<section class="imageblock about-1">
  <div class="imageblock__content col-md-7 col-sm-5 pos-left">
    <div class="background-image-holder">
      <img alt="mapa" src="{{ page.mapa  | relative_url }}">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-push-8 col-sm-7 col-sm-push-5">

        <div class="feature feature-2 col-xs-6 col-sm-12">
          {% for item in page.info_contacte %}
          <div class="feature__title">
            <i class="icon icon-{{ item.icona }}"></i>
            <h6>{{ item.info }}</h6>
          </div>{% endfor %}
        </div>

      </div>
    </div>
  </div>
</section>
