{% comment %} Content with image on the left side {% endcomment %}
<section class="imageblock about-1">
  <div class="imageblock__content col-md-6 col-sm-4 pos-left">
    <div class="background-image-holder">
      <img alt="{{ include.image_alt }}" src="{{ include.image_src | relative_url }}">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-push-7 col-sm-8 col-sm-push-4">
        <h4>{{ include.heading }}</h4>
        {{ include.content }}
      </div>
    </div>
  </div>
</section>
