{% comment %} Slide with logos {% endcomment %}
<section class="partners-1 space--sm bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="slider" data-items="{{ include.partners | size }}" data-timing="3000">
          <ul class="slides">
            {% for partner in include.partners %}
            <li><img alt="{{ partner.nom }}" src="{{ partner.logo | relative_url }}"></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
