{% comment %} Slide of related projects {% endcomment %}
<!-- Start Projects Slider -->
<section class="space--0">
  <div class="slider" data-items="4" data-paging="false" data-arrows="false">
    <ul class="slides">
      {% for project in include.projects %}
      <!-- Start Project Slide -->
      <li>
        <a href="{{ project.url | relative_url }}">
          <div class="hover-element hover-element-1" data-title-position="top,right">
            <div class="hover-element__initial">
              <img alt="{{ project.descripcio_imatge }}" src="{{ project.cover_imatge | relative_url }}">
            </div>
            <div class="hover-element__reveal" data-overlay="9">
              <div class="boxed">
                <h5>{{ project.title }}</h5>
                <span><em>{{ project.categoria }}</em></span>
              </div>
            </div>
          </div>
        </a>
      </li>
      <!-- End Project Slide -->
      {% endfor %}
    </ul>
  </div>
</section>
<!-- End Projects Slider -->
