<!-- Social buttons row -->
<div class="row">
  <div class="col-sm-12 text-center">
    <div class="blog-post__share">
      <h5>Comparteix a les xarxes</h5>
      <a class="btn btn--sm bg--facebook" href="#">
        <span class="btn__text">
          <i class="socicon-facebook"></i> Facebook
        </span>
      </a>
      <a class="btn btn--sm bg--twitter" href="#">
        <span class="btn__text">
          <i class="socicon-twitter"></i> Twitter
        </span>
      </a>
      <a class="btn btn--sm bg--googleplus" href="#">
        <span class="btn__text">
          <i class="socicon-googleplus"></i> GooglePlus
        </span>
      </a>
    </div>
  </div>
</div>
